@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 2em;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}


.logout {
   display: flex;
   justify-content: flex-end;
}

div.inner_nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-self: center;
    margin-left: 600px;
}

.my_characters {
    margin-top: 115px;
}

.character_add {
    margin-top: 115px
}

img {
    height: 125px;
    width: auto
}

.logo_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Girassol', cursive;
}

.navbar__link2 {
    color: black;
    font-size: 2em;
    margin-left: 100px;
    text-decoration: none;
    font-family: 'Girassol', cursive;

    
}

.navbar__link2:hover {
    color: #FF4E62
}

.navbar__link1 {
    color: black;
    font-size: 2em;
    margin-right: 100px;
    text-decoration: none;
    font-family: 'Girassol', cursive;

    
}

.navbar__link1:hover {
    color: #FF4E62
}

body {
    background-color:  #F9F3DE;
}